.why_sec_title {
  font-size: 40px;
  font-weight: 500;
  text-align: start;
  margin-bottom: 60px;
}
.sec_wrapper {
  margin: 0 8%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
}
.sec_img_wrap {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 80%;
  max-height: 400px;
  height: 20vw;
}
.sec_text {
  width: 80%;
  font-size: 26px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #303030;
  margin-left: 2.5%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  flex-shrink: 0;
}
.sec_image {
  width: 100%;
  max-height: 400px;
  height: 20vw;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  border-radius: 20px;
  -webkit-mask-image: radial-gradient(rgb(51, 0, 80) 20%, transparent 75%);
  mask-image: radial-gradient(rgb(51, 0, 80) 20%, transparent 75%);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  flex-shrink: 0;
}

@media (min-width: 2000px) {
}
@media (max-width: 1999px) {
}
@media (max-width: 1599px) {
  .why_sec_title {
    font-size: 32px;
    margin: 60;
  }
  .sec_text {
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  .why_sec_title {
    font-size: 28px;
    margin: 50;
  }
  .sec_overlay {
    background: linear-gradient(
      rgb(50, 50, 50, 0.7) 0%,
      rgba(70, 70, 70, 0.4) 30%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 15px;
  }
  .sec_image {
    border-radius: 15px;
  }
  .sec_text {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .why_sec_title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .sec_img_wrap {
    margin: 0px 5px;
  }
  .sec_overlay {
    background: linear-gradient(
      rgb(50, 50, 50, 0.7) 0%,
      rgba(70, 70, 70, 0.5) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    /* padding: 20px 30px; */
    border-radius: 15px;
  }
  .sec_image {
    border-radius: 15px;
  }
  .sec_text {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
}
@media (max-width: 768px) {
  .why_sec_title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .sec_overlay {
    border-radius: 10px;
  }
  .sec_image {
    border-radius: 10px;
  }
  .sec_text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .sec_wrapper {
    margin: 0 4%;
  }
  .why_sec_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec_img_wrap {
    margin: 0px 3px;
  }
  .sec_overlay {
    border-radius: 5px;
  }
  .sec_image {
    border-radius: 5px;
  }
  .sec_text {
    font-size: 10px;
    /* margin-right: 8%; */
  }
}
@media (max-width: 367px) {
  .why_sec_title {
    font-size: 16px;
  }
  .sec_text {
    font-size: 10px;
    margin-right: 5%;
  }
}
