.third_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
}
.third_main_title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3%;
}
.third_texts {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  max-width: 40%;
}
.third_text_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.third_title {
  font-size: 34px;
  font-weight: 600;
  margin: 0;
  line-height: 150%;
}
.third_text {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.third_img_wrap {
  position: relative;
  max-width: 40%;
  height: 30vw;
  max-height: 500px;
  /* margin-left: 10%; */
}
.third_image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  -webkit-mask-image: radial-gradient(rgb(51, 0, 80) 30%, transparent 75%);
  mask-image: radial-gradient(rgb(51, 0, 80) 30%, transparent 75%);
}

@media (min-width: 2000px) {
  .third_image {
    max-height: 600px;
  }
}
@media (max-width: 1999px) {
}
@media (max-width: 1599px) {
  .third_main_title {
    font-size: 34px;
  }
  .third_title {
    font-size: 28px;
  }
  .third_text {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .third_main_title {
    font-size: 30px;
  }
  .third_title {
    font-size: 24px;
  }
  .third_text {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .third_main_title {
    font-size: 24px;
  }
  .third_title {
    font-size: 18px;
  }
  .third_text {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
}
@media (max-width: 768px) {
  .third_main_title {
    font-size: 22px;
  }
  .third_text_block {
    display: flex;
    flex-direction: column;
  }
  .third_title {
    font-size: 16px;
  }
  .third_text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .third_wrapper {
    flex-direction: column;
    justify-content: start;
    -webkit-justify-content: start;
    -webkit-box-pack: start;
    align-items: start;
  }
  .third_main_title {
    font-size: 18px;
  }
  .third_img_wrap {
    max-width: 100%;
    margin-left: 25%;
    height: 40vw;
  }
  .third_image {
    width: 100%;
  }
  .third_texts {
    margin-left: 5%;
    max-width: 80%;
  }
  .third_title {
    font-size: 14px;
  }
  .third_text {
    font-size: 10px;
  }
}
@media (max-width: 367px) {
  .third_main_title {
    font-size: 14px;
  }
  .third_title {
    font-size: 12px;
  }
  .third_text {
    font-size: 8px;
  }
}
